.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.counter-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 1px solid #b34041;
  border-radius: 8px;
  font-weight: bold;
}

.action-btn{
  padding: 9px 0;
  cursor: pointer;
  min-width: 50px;
}

.minus-link{
  border-radius: 8px 0 0 8px;
}

.plus-link{
  border-radius: 0 8px 8px 0;
}

.action-btn:hover{
  background-color: #b34041;
  color: #ffffff;
}

.counter-val{
  border-right: 1px solid #b34041;
  border-left: 1px solid #b34041;
  padding: 8px 15px;
  background-color: #fbe9e9;
  color: #b34041;
  min-width: 25px;
}

.display-val{
  font-size: 13px;
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input{
  border-right: 1px solid #b34041;
  border-left: 1px solid #b34041;
  padding: 11.5px 0;
  background-color: #fbe9e9;
  color: #b34041;
  min-width: 50px;
  width: 50px;
  border-top: none;
  border-bottom: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  height: 23px;
}
